.personal-cab {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    padding: 0 25px;
    gap: 15px;
    overflow-x: hidden;

    @media screen and (max-width:950px) {
        @include flex(column, flex-start, stretch);
        padding: 0 10px;
    }
}

.profile {
    @include flex(column, flex-start, center);
    gap: 25px;
    background-color: $card;
    padding: 15px 25px;
    border-radius: 15px;

    &__data {
        font-size: 1.1rem;
        cursor: pointer;

        &:hover{ 
            opacity: 0.75;
        }
    }

    &__photo {
        border: 2px solid;
        border-radius: 50%;
        padding: 6px;
    }

    &__info {
        width: 100%;
    }

    &__img {
        border-radius: 50%;
        width: 96px;
    }

    &__exit {
        margin-left: auto;
        cursor: pointer;
    }

    &__icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    &>.row {
        margin-bottom: 0;
    }
}


.fav {
    grid-column-start: span 3;

    &__header {
        margin-bottom: 15px;
    }

    &__list {
        @include flex(row, flex-start, center);
        width: 94vw;
        overflow-y: visible;
        overflow-x: auto;
        gap: 2vw;
        padding-top: 15px;

        &::-webkit-scrollbar {
            height: 10px;
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: lighten($card, 10%);
        }

        &::-webkit-scrollbar-thumb {
            background: darken($card, 1%);
            width: 10%;
        }


        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        & .empty {
            font-size: 2rem;
            font-weight: 600;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
        }
    }
}

.history {
    @include flex(column, flex-start, flex-start);
    max-height: 400px;
    padding-bottom: 25px;
    background-color: $card;
    border-radius: 15px;
    border: 15px;

    &__heading {
        @include flex(row, flex-start, center);
        height: 100px;
        width: 100%;
        padding: 15px 0 0 3vw;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        margin-bottom: 25px;
        background-color: #808080c4;
    }

    &__item {
        text-align: left;
        padding: 10px 0;
        font-size: 1.2rem;
        margin: 3px 15px;
        color: #000000;
        font-weight: 600;
        cursor: pointer;

        border: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid #80808081;
            border-top: 1px solid #80808081;
        }
    }

    &__list {
        @include flex(column-reverse, flex-start, flex-start);
        width: 100%;
        padding: 2px 15px;
        max-height: 270px;
        overflow-y: auto;
    }

    &__elem {
        @include flex(row, space-between, center);
        width: 100%;
        padding: 2px 0;
        margin-bottom: 3px;
        border: 1px solid transparent;
        border-left: none;
        border-right: none;

        &:hover {
            cursor: pointer;
            border: 1px solid #dad9d9;
            border-left: none;
            border-right: none;
        }
    }

    &__price {
        margin-left: auto;
        margin-right: 15px;
        font-size: 1.25rem;
    }

    &__img-wrapper {
        max-width: 250px;
        overflow: hidden;
    }

    &__img {
        width: 50px;
        height: 50px;
    }
}

.row {
    @include flex(row, space-between, center);
    gap: 3vw;
    width: 100%;
    margin-bottom: 20px;

    @media screen and (max-width:475px) {
        flex-direction: column;
    }
}

.col {
    min-height: 50px;
    position: relative;
    max-width: 300px;
    width: 100%;
}

.f-row {
    @include flex(row, flex-end, flex-end);
    gap: 3vw;
}