.product-list {
    @include flex(row, flex-start, center);
    gap: 15px;
    width: 100vw;
    padding: 40px 0 0 25px;
    overflow-y: visible;
    overflow-x: auto;
    margin-bottom: 25px;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // row-gap: 25px;

    // justify-items: center;

    &_column {
        flex-direction: column;
        align-items: flex-start;
    }

    &_fav {
        justify-items: flex-start;
    }
}