.product {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    background-color: $card;
    cursor: pointer;
    direction: ltr;

    &__img {
        width: 200px;
        border-radius: 10px;
        transition: all 0.1s ease-in-out;
    }

    &__info {
        @include flex(column, center, flex-start);
        gap: 20px;
        padding: 15px;
        padding-top: 0;
    }

    &__img,
    &__info {
        transform: translateY(-15%);
    }

    &__name {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &__color {
        font-weight: 400;
    }

    &__favorite {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__star {
        &.checked {
            color: #fb8e11cf !important;
        }
    }
}



.flex-row {
    @include flex(row, space-between, center);
    width: 100%;
}

.scaled-down {
    height: auto;
    object-fit: contain;
    width: 65px;
    max-height: 202px;
    margin-left: auto;
    margin-right: auto;
}