.slider{ 
    margin-bottom: 25px;
    @media screen and (min-width:1440px){
        padding: 0 25px;
    }
}
.slide{
    height: 500px;
    background-size: auto;
    background-position: 0 -200px;
    position: relative;

    &__content{
        position: absolute;
        bottom:25px;
        left: 25px;

        font-size: 4rem;
        font-weight: 700;
    }

}